<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="authFragment (method, entry, methodName)">
    <div class="path-item" th:if="${method != null}">
        <div class="operations">
            <div class="operation-heading">
                <strong th:text="${methodName}">METHOD</strong> <!-- Displays the method like GET, POST, PUT -->
                <span th:text="${entry.key}">Path Name</span>
            </div>
            <p>
                <span th:text="${method.isAuthenticated} ? 'Authenticated' : 'Not Authenticated'">Auth Status</span>
            </p>

            <!-- Static Mod Auth Requirement -->
            <div class="auth-req" th:if="${method.isAuthenticated}">
                <div class="auth-req-comp" th:if="${method.authorisationMod.staticMod != null}">
                    <div class="auth-req-comp" th:if="${not #lists.isEmpty(method.authorisationMod.staticMod.roles)}">
                        <p class="required-red">REQUIRED ROLES:</p>
                        <ul th:each="role : ${method.authorisationMod.staticMod.roles}">
                            <li th:text="${role}">Role 1</li>
                        </ul>
                    </div>
                    <div class="auth-req-comp" th:if="${not #lists.isEmpty(method.authorisationMod.staticMod.permissions)}">
                        <p class="required-red">REQUIRED PERMISSIONS:</p>
                        <ul th:each="permission : ${method.authorisationMod.staticMod.permissions}">
                            <li th:text="${permission}">Permission 1</li>
                        </ul>
                    </div>
                </div>

                <!-- Relative Mod Auth Requirement -->
                <div class="auth-req-sel" th:if="${not #lists.isEmpty(method.authorisationMod.relativeMod)}">
                    <p class="mandatory-selection-text">MANDATORY SELECTION</p>
                    <div class="selection-container">
                        <div th:each="selection : ${method.authorisationMod.relativeMod}" class="selection-item">
                            <div th:if="${not #lists.isEmpty(selection.roles)}">
                                <p>Roles:</p>
                                <ul th:each="role : ${selection.roles}" class="role-list">
                                    <li th:text="${role}" class="role-item">Role 1</li>
                                </ul>
                            </div>
                            <div th:if="${not #lists.isEmpty(selection.permissions)}">
                                <p>Permissions:</p>
                                <ul th:each="permission : ${selection.permissions}" class="permission-list">
                                    <li th:text="${permission}" class="permission-item">Permission 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of Auth Req -->
        </div>
    </div>
</div>
</body>
</html>
